<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema Bookings</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Cinema Bookings</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Home</a></li>
                <li><a href="../pages/movie-details.html">Movies</a></li>
                <li><a href="../pages/checkout.html">Checkout</a></li>
                <li><a href="../pages/confirmation.html">Confirmation</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>